.citation-list li {
/*        border-bottom: 1pt solid #f0f0f0; */
/*        list-style-type: none; */
}

/* experiments */
//.navbar { background-color: #B1B0A7; }
//.navbar-default .navbar-nav>li>a { color: white; }
//table { 
        
        
        
//      }      

 
.navbar { border-bottom: 1px solid #888888 }
.sidebar { border: 1px solid #ddd; box-shadow: 3px 3px 5px #eee; border-radius: 10px  }