<div class="navbar" role="navigation">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% capture navbar %}{% include navbar.md %}{% endcapture %}
          {{ navbar | markdownify | replace: '<ul>', '<ul class="nav navbar-nav">' }}
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="#">FPG@KU</a></li>
          </ul>
        </div>
  </div>
</nav>
