---
layout: default
---
{% assign citation = null %}
{% for item in site.data.publications %}{% if item.key == page.key %}{% assign citation = item %}{% endif %}{% endfor %}

{% if citation %}
<div class="post">
  <article class="post-content">
      <blockquote>
          {{ citation.cite | trim | markdownify }}
      </blockquote>          
      {% if citation.links.size > 0 %}
          <h4>Links</h4>
          <ul>
          {% for item in citation.links %}
              <li>{{ item | markdownify }}</li>
          {% endfor %}
          </ul>
      {% endif %}
      {% if citation.abstract %}
          <h4>Abstract</h4>
          {{ citation.abstract | markdownify }}
      {% endif %}
      {% if citation.bibtex %}
          <h4>BibTeX</h4>
<pre>{{ citation.bibtex | trim }}</pre>
      {% endif %}

  </article>
</div>
{% else %}
  NO CITATION found!
{% endif %}